# SECTION 07 HW


### 7.1 HW Questions
Using EVregistry, Write a query to select the ModelYear, Make, and Model off all of the vehicles in the registry.
```

SELECT ModelYear,
Make,
Model
FROM EVRegistry

```


Using the EVRegistry table, Write a query that lists all of the unique types of EV's. your result set should have one column, ElectricVehicleType.
```

SELECT DISTINCT ElectricVehicleType
FROM EVRegistry

```


Using the EVRegistry, Write a query that shows all of the information on Battery Electric Vehicles (BEV) that are in the registry.
```

SELECT *
FROM  EVRegistry


```


Using the EVRegistry, wirte a query that returns the Make and Model of all of the EV's that have a BaseMSRP between 20000 and 35000?
```

SELECT Make, Model
FROM EVRegistry
WHERE BaseMSRP > 20000 AND BaseMSRP < 35000

```

# 7.2 HW Questions
Using EVRegistry, write a query to find a record where the City attribute is NULL. Return all of the available columns.
```
SELECT *
FROM  EVRegistry
WHERE City IS NULL


```


Write a query to find the make, model, and ElectricVehicleType where the VIN number has that ends in '3E1EA1J'.
```
SELECT Make, Model, ElectricVehicleType
FROM  EVRegistry
WHERE VIN LIKE '%3E1EA1J'

```


Select the ModelYear, make, model, ElectricVehicleType, and range of the Tesla vehicles or cheverolet vehicles in the registry. Order the result set by Make and Model year in from newest to oldest.
```

SELECT ModelYear, Make, Model, ElectricVehicleType, ElectricRange
FROM  EVRegistry
WHERE Make = 'TESLA' OR Make = 'CHEVROLET'
ORDER BY Make, ModelYear DESC

```


Using EVCharging, Write a query to find out how many many times those stations were used. Order them by the most used to the least used and limit the output to 5 records.
```
SELECT stationID, Count(stationID) as Counts
FROM  EVCharging
GROUP BY stationId
ORDER BY 2 DESC
LIMIT 5
```


Using EVCharging, For the folks who charged longer than 0.5 hours, show the min and max of the charging time for each user. Your output columns should be userid, minTime, and maxTime. Order this result set by the last two columns respectively.
```

SELECT userId, MIN(chargeTimeHrs)as 'minTime', MAX(chargeTimeHrs) as 'maxTime'
FROM EVCharging
WHERE chargeTimeHrs > 0.5
GROUP BY userId

```

# 7.3 HW Questions

Using EVCharging, Which day of the week has the highest average charging time? Round the answer to 2 decimal points.
```

SELECT ROUND(AVG(chargeTimeHrs),2) as 'avg charge time', weekday
FROM EVCharging
GROUP BY weekday
Order by 1 DESC
LIMIT 1

```


Using, EV charging, Find the total power consumed from charging EV's by each User. Return the userId and name the calculated column, totalPower. Round the answer to 2 deciaml points and list the out put in highest to lowest order. Limit the order to the top 15 users.
```
SELECT userID, ROUND(SUM(kwhTotal),2) as 'totalPower'
FROM EVCharging
GROUP BY userID
ORDER BY totalPower DESC
LIMIT 15
```


Using dimfacility and factCharge, write a query to find out which type of facility (GROUP BY) has the most amount of charging stations. Return type Facility and name the calculated column numStation. Order the result set from highest to lowest number of charging stations.
```

SELECT typeFacility, Count(typeFacility) as 'numstation'
FROM factCharge
INNER JOIN dimFacility
ON factCharge.facilityID = dimFacility.FacilityKey
GROUP BY typeFacility
ORDER BY 2 DESC
```


In your own words, Briefly explain Primary Keys and Foreign Keys.
```
Primary Key is an attribute on a table that is used to identify the value stored in the said table

Foreign Key is a attribute with in a table that identifes a key attribute in another table. 

```


Using EV Charging, For the folks who charged longer than one hour, show the min and max of the charging time for each user. Your output columns should be userid, minTime, and maxTime. Order this result set by the last two columns respectively. HINT: USE HAVING
```

SELECT userID, MIN(chargeTimeHrs) as 'minTime' , MAX(chargeTimeHrs) as 'maxTime'
FROM EVCharging
WHERE chargeTimeHrs > 1
GROUP BY userId
ORDER BY 2,3 DESC

```