# Section 1

- If you look at the column `Accel` you can see that each value has the ' sec' suffix on the value. 
- This creates an issue becasue if you ever wanted to run a summary function like AVG() on the `Accel` values you would not be able to becasue the datatype would most likely be a string and not an acceptable type to run that function. 
- Our Job is to remove that suffix from the `Accel` column. We are also going to rename the column with the units in the column name to inform the person looking at the table what the column units are. 
<br>

### - 1.1 Review the column that you are looking to change
<br>

```SQL

SELECT columnname FROM tablename;

```
<br>


### - 1.2 Selecting the correct string function

- We would like to remove ' sec'  from each value in the `Accel` column. 
- Choose the appropriate string function from the string function list. There may be more then one way to accomplish this task. 
- Please place your queries in a .md file for review. Whatever you do not finish is considered HW. 
<br>

```SQL

Function(string, characterStringToBeRemoved)

```
<br>


### - 1.3 Visualizing the changes before making them 

- Use a select statement to visualize the original column and the changes that are made by the string function side by side in the result set. 
- Also take note of how many rows are returned in this select statement. (you can use the rowid on the far left of the result set---> scroll to the bottom number)
- You will use this number to confirm you are changing the correct amount of rows in the next step. 
<br>

```SQL
SELECT column, stringfunctiongoeshere
FROM tablename 

```
<br>


### - 1.4 UPDATE the records 

- Write the update statement to set `Accel` to equal the return value of the string function that you chose to use in 1.2.

<br>

```SQL

UPDATE tablename 
SET 
    columnname = stringfunction; 

```
<br>


### - 1.5 Check your work
- It is good practice to check over the rows that you changed. Write a select statement to look at the column again. (you can reuse the code you wrote above)
<br>

```SQL

SELECT columnname FROM tablename;

```
<br>


### - 1.6 Rename the column
 - Rename the `Accel` column to `accelSec`
 <br>

```SQL
ALTER TABLE tablename 
RENAME columnname TO newColumnName
```

<br>

### - 2.1 Review the column that you are looking to change 
- Write a query to look at all the records in the `Topspeed` column.  
<br>

```SQL

SELECT columnname FROM tablename;

```
<br>


### - 2.2 Selecting the correct String Function

- We would like to remove 'km/h' from each value in the column `TopSpeed`. 
- Choose the appropriate string function from the string function list. There may be more then one way to accomplish this task.  

```SQL

FUNCTION(string, characterStringToBeRemoved)

```


### - 2.3 Visualizing the Changes before making them 

- Use a select statement to visualize the original column, `TopSpeed` and the changes that are made by the string function side by side in the result set. 
- Take note of how many rows are returned in this SELECT statement. You will use this number to confirm you are changing the correct amount of rows later. 

```SQL
SELECT column, stringfunctiongoeshere
FROM tablename 

```


### - 2.4 UPDATE the records

- Write the update statement to set `TopSpeed` to equal the return value of the string function you chose in 2.2
<br>

```SQL

UPDATE tablename 
SET 
    columnname = stringfunction; 

```


### - 2.5 Check your work 
- Write a select statement to look at the column again. (you can reuse the code you wrote above in 2.1)
<br>

```SQL

SELECT columnname FROM tablename;

```


### - 2.6 Convert the units to MPH
- Let's convert the `TopSpeed` from km/h to MPH
- Write a select statement to multiply the speed by 0.621371. Return  original `Topspeed` and calculated `TopspeedMPH`. Round the answer to 1 decimal place . 

```SQL
SELECT columnname, function(columnname * conversionRate, numberofdecimals)
FROM tablename 

```
- Write and executing the above query to see the original and the converted value side by side
- Turn this query into an UPDATE statement

```SQL

UPDATE tablename 
SET 
    columnname = columnname * conversionRate 

```
- use your query from 2.5 to check the column to make sure the changes are what yoiu expected.


### - 2.7 Rename the column
 - Rename the `TopSpeed` column to `topSpeedMPH`
 <br>

```SQL
ALTER TABLE tablename 
RENAME columnname TO newColumnName

```
<br>


### - 2.8  Select All of the records to get a look at the whole table with your recent changes. 
```SQL
SELECT * 
FROM tablename 

```

<br>


### - 3.1 Review the column that you are looking to change 
```SQL


```

<br>



### - 3.2 Selecting the correct String Function
```SQL


```

<br>


### - 3.3 Visualizing the Changes before making them 

```SQL


```

<br>


### - 3.4 UPDATE the records

```SQL


```

<br>


### - 3.5 Check your work 
```SQL


```

<br>


### - 3.6 Convert the units to MPH
```SQL


```

<br>


### - 3.7 Rename the column
```SQL


```

<br>


### - 3.8  Select All of the records to get a look at the whole table with your recent changes. 
```SQL


```

<br>


### - 4.1 Write a select statement to review both of the columns that you are looking to change 

```SQL


```

<br>


### - 4.2 Selecting the correct String Function that we need to remove for each column.
```SQL


```

<br>


### - 4.3 Visualizing the Changes before making them 
```SQL


```

<br>


### - 4.4 UPDATE the records


```SQL
UPDATE tablename 
SET 
columnname1 = STRINGFUNCTION(string, characterStringToBeRemoved), 
columnname2 = STRINGFUNCTION(string, characterStringToBeRemoved); 
``` 
<br>


### - 4.5 Check your work 
```SQL


```

<br>


### - 4.6 Convert the `FastCharge` units to MPH
```SQL


```

<br>


### - 4.7 Rename the column
```SQL


```

<br>


### - 4.8 Select All of the records to get a look at the whole table with your recent changes. 

```SQL


```

<br>


### - 5.1 Working with `RapidCharge`

```SQL
SELECT columnname, Count(*)
FROM tablenmame
GROUP BY columnname
```
<br>


### - 5.2 making data cleaning choices 
```SQL


```

<br>


### - 5.3 Please fill in the blank on your .md answer sheet
```SQL


```

<br>


### - 5.4 Writing the update Statements  
- use this syntax reminder to help guide your update statement writing
- you are going to write two update statements, one for each of the conditions described above. 
<br>

```SQL
UPDATE tablename
SET Columnname = string 
WHERE Condition 

```
<br>



### -6.1 Visualize the `Powertrain` records
```SQL


```

<br>


### - 6.2 Please fill in the blank on your .md answer sheet
```SQL


```

<br>


### - 6.3 Write three update statements for the three different conditions 

```SQL


```

<br>


### - 6.4 Write a query to Select all of the records to view your changes. 
```SQL


```

<br>


### - 7.1 Convert the `PriceEuro` to `PriceUSD` 
```SQL


```

<br>


### - 7.2 Write the Update Statements 
```SQL


```

<br>


### - 7.3 Rename the Column
- Rename `PriceEuro to PriceUSD`
```SQL


```

<br>