### - 1.1 Review the column that you are looking to change
<br>

```SQL

SELECT Accel
FROM evCars;

```
<br>


### - 1.2 Selecting the correct string function

<br>

```SQL
RTRIM(Accel, 'sec')

```
<br>

### - 1.3 Visualizing the changes before making them 

```SQL
SELECT Accel, RTRIM(Accel, 'sec')
FROM evCars

```
<br>

### - 1.4 UPDATE the records 
```SQL

Update evCars
SET Accel = RTRIM(Accel, 'sec')


```
<br>

### - 1.5 Check your work
```SQL
SELECT Accel
FROM evCars
```
<br>


### - 1.6 Rename the column

```SQL
Alter TABLE evCars
RENAME Accel TO accelSec
```

<br>

### - 2.1 Review the column that you are looking to change 

```SQL

SELECT TopSpeed
FROM evcars

```
<br>


### - 2.2 Selecting the correct String Function

```SQL

SELECT RTRIM(TopSpeed, 'km/h')

```


### - 2.3 Visualizing the Changes before making them 

```SQL
SELECT RTRIM(TopSpeed, 'km/h'), TopSpeed
FROM evcars;


```


### - 2.4 UPDATE the records

```SQL

Update evCars
SET TopSpeed = RTRIM(TopSpeed, 'km/h')

```


### - 2.5 Check your work 
- Write a select statement to look at the column again. (you can reuse the code you wrote above in 2.1)
<br>

```SQL

SELECT TopSpeed
FROM evCars

```


### - 2.6 Convert the units to MPH

```SQL
SELECT TopSpeed, ROUND(TopSpeed * 0.621371,  2)
FROM evCars
```

<br>

```SQL

UPDATE evCars
SET TopSpeed = TopSpeed * 0.621371

```


### - 2.7 Rename the column

```SQL
ALTER TABLE evCars
RENAME TopSpeed to topSpeedMPH

```
<br>


### - 2.8  Select All of the records to get a look at the whole table with your recent changes. 
```SQL

SELECT * 
FROM evCars

```

<br>

### - 3.1 Review the column that you are looking to change 
```SQL

SELECT Range
FROM evCars

```

<br>



### - 3.2 Selecting the correct String Function
```SQL
SELECT RTRIM(Range, 'km')

```

<br>


### - 3.3 Visualizing the Changes before making them 

```SQL

SELECT RTRIM(Range, 'km'), Range
FROM evCars
```

<br>


### - 3.4 UPDATE the records

```SQL
UPDATE evCars
SET Range = RTRIM(Range, 'km')


```

<br>


### - 3.5 Check your work 
```SQL
SELECT Range
FROM evCars

```

<br>


### - 3.6 Convert the units to MPH
```SQL
SELECT Range, ROUND(Range * 0.621371,  1)
FROM evCars

UPDATE evCars
SET Range = Range * 0.621371

```

<br>


### - 3.7 Rename the column
```SQL

ALTER TABLE evCars
RENAME Range to RangeMiles
```

<br>


### - 3.8  Select All of the records to get a look at the whole table with your recent changes. 
```SQL
SELECT*
FROM evCars


```

<br>


### - 4.1 Write a select statement to review both of the columns that you are looking to change 

```SQL
SELECT Efficiency, FastCharge
FROM evCars

```

<br>


### - 4.2 Selecting the correct String Function that we need to remove for each column.
```SQL
RTRIM(Efficiency, 'Wh/km'), RTRIM(FastCharge, 'km/h')

```

<br>


### - 4.3 Visualizing the Changes before making them 
```SQL

SELECT RTRIM(Efficiency, 'Wh/km'),Efficiency, RTRIM(FastCharge, 'km/h'),FastCharge
FROM evCars

```

<br>


### - 4.4 UPDATE the records


```SQL
UPDATE evCars
SET 
Efficiency = RTRIM(Efficiency, 'Wh/km'),
FastCharge = RTRIM(FastCharge, 'km/h')
``` 
<br>


### - 4.5 Check your work 
```SQL
SELECT Efficiency, FastCharge
FROM evCars

```

<br>


### - 4.6 Convert the `FastCharge` units to MPH
```SQL
SELECT Round(FastCharge * 0.621371, 1) AS OneHourFastChargeMiles
FROM evCars

```

<br>


### - 4.7 Rename the column
```SQL
ALTER TABLE evCars
RENAME FastCharge to OneHourFastChargeMiles


ALTER TABLE evCars
RENAME Efficiency to efficiencyWHperKM

```

<br>


### - 4.8 Select All of the records to get a look at the whole table with your recent changes. 

```SQL
SELECT*
FROM evCars


```

<br>


### - 5.1 Working with `RapidCharge`

```SQL
SELECT RapidCharge, count(*)
FROM evCars
GROUP BY RapidCharge
```
<br>


### - 5.2 making data cleaning choices 
```SQL
1 or 0

```

<br>


### - 5.3 Please fill in the blank on your .md answer sheet
```SQL
Rapid charging possible
Rapid charing not possible

```

<br>


### - 5.4 Writing the update Statements  


```SQL
UPDATE evCars
SET 
RapidCharge = 1
WHERE RapidCharge = "Rapid charging possible",

UPDATE evCars
SET 
RapidCharge = 0
WHERE RapidCharge = "Rapid charging not possible"


```
<br>



### -6.1 Visualize the `Powertrain` records
```SQL

SELECT PowerTrain, count(*)
FROM evCars
GROUP BY PowerTrain


```

<br>


### - 6.2 Please fill in the blank on your .md answer sheet
```SQL

All Wheel Drive
Rear Wheel Drive
Front Wheel Drive

```

<br>


### - 6.3 Write three update statements for the three different conditions 

```SQL
UPDATE evCars
SET 
PowerTrain = 'AWD'
WHERE PowerTrain = "All Wheel Drive"

UPDATE evCars
SET 
PowerTrain = 'RWD'
WHERE PowerTrain = "Rear Wheel Drive"

UPDATE evCars
SET 
PowerTrain = 'FWD'
WHERE PowerTrain = "Front Wheel Drive"


```

<br>


### - 6.4 Write a query to Select all of the records to view your changes. 
```SQL
SELECT*
FROM evCars

```

<br>


### - 7.1 Convert the `PriceEuro` to `PriceUSD` 
```SQL
SELECT PriceEuro, Round(PriceEuro*1.09,2) as PriceUSD
FROM evCars


```

<br>


### - 7.2 Write the Update Statements 
```SQL
Update evCars
SET PriceEuro =  Round(PriceEuro*1.09,2)

```

<br>


### - 7.3 Rename the Column

```SQL


ALTER TABLE evCars
RENAME PriceEuro to PriceUSD
```

<br>